{% extends "archdesigntempl.html" %}
{% load staticfiles %}

{% block xcontent %}
<!--Main Photos-->
<div class="slider">
  <img id='imga1' src="{% static 'img/headphoto/a1.jpg' %}" />
  <img id='imga2' src="{% static 'img/headphoto/a2.jpg' %}" />
  <img id='imga3' src="{% static 'img/headphoto/a3.jpg' %}" />
  <img id='imga4' src="{% static 'img/headphoto/a4.jpg' %}" />
  <img id='imga4' src="{% static 'img/headphoto/a4.jpg' %}" />
</div>

<div id="scroller" style="width: 100%; margin: 0 auto;">
  <div id="slid" class="innerScrollArea">
      <ul>
          <!-- Define photos here -->
          <li><img id="img1" src="{% static 'img/headphoto/a1.jpg' %}" width="auto" height="100%" /></li>
          <li><img id="img2" src="{% static 'img/headphoto/a2.jpg' %}" width="auto" height="100%" /></li>
          <li><img id="img3" src="{% static 'img/headphoto/a3.jpg' %}" width="auto" height="100%" /></li>
          <li><img id="img4" src="{% static 'img/headphoto/a4.jpg' %}" width="auto" height="100%" /></li>
          <li><img id="img5" src="{% static 'img/headphoto/a5.jpg' %}" width="auto" height="100%" /></li>

      </ul>
  </div>
</div>
<!--Menu-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar" style="display: block;">
      <ul class="nav navbar-nav navbar-center">
        <li><a href="/en/architecture/">ARCHITECTURE</a></li>
        <li><a href="/en/design/">DESIGN</a></li>
        <li><a href="/en/services/">SERVICES</a></li>
        <li><a href="/en/contact/">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--Main Content-->

<div style="width: 50%; position : relative; ">

    {% for AP in Arch_projects %}
      <div class="archproject" style="">
      <h2>{{AP.name}}</h2>
      <img src="{{ AP.mainimg.url }}" width="50%" height="50%" />
      <h3>{{AP.description}}</h3>
      </div>
    {% endfor %}

</div>

<div style="height:40px"></div>

{% endblock %}
