<html lang='en'>
<head>
  <title>AG</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/archdesign.css' %}" type = "text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://malsup.github.com/jquery.cycle.all.js"></script>

  <script>
  if(window.screen.width > 480) {


    $(document).ready(function(){
      $('.archprojecttext').each(function(){
        $(this).animate({opacity:'0.2'},1);
        $(this).mouseover(function(){
          $(this).stop().stop()
          .animate({opacity:'0.8'},200)

          .animate({width:'50%'},600);
        });
        $(this).mouseout(function(){
          $(this).stop()
          .animate({opacity:'0.2'},200)
          .animate({width:'20%'},600);;

        }); }); });


    $(function(){
        var scroller = $('#scroller div.innerScrollArea');
        var scrollerContent = scroller.children('ul');
        scrollerContent.children().clone().appendTo(scrollerContent);
        var curX = 0;
        scrollerContent.children().each(function(){
            var $this = $(this);
            $this.css('left', curX);
            curX += $this.outerWidth(true);
        });
        var fullW = curX / 2;
        var viewportW = scroller.width();

        // Scrolling speed management
        var controller = {curSpeed:0, fullSpeed:2};
        var $controller = $(controller);
        var tweenToNewSpeed = function(newSpeed, duration)
        {
            if (duration === undefined)
                duration = 600;
            $controller.stop(true).animate({curSpeed:newSpeed}, duration);
        };

        // Scrolling management; start the automatical scrolling
        var doScroll = function()
        {
            var curX = scroller.scrollLeft();
            var newX = curX + controller.curSpeed;
            if (newX > fullW*2 - viewportW)
                newX -= fullW;
            scroller.scrollLeft(newX);
        };
        setInterval(doScroll, 20);
        tweenToNewSpeed(controller.fullSpeed);
    });
  }
  if(window.screen.width < 480) {

    $(document).ready(function() {
      $('.slider').cycle({
          fx:     'fade',
          rev: 1,
      }); });

          }
  </script>

  <script>
    $(document).ready(function(){
      $('.mainlogo').each(function(){
        $(this).animate({opacity:'0.2'},1);
        $(this).mouseover(function(){
          $(this).stop().animate({opacity:'0.8'},600);
        });
        $(this).mouseout(function(){
          $(this).stop().animate({opacity:'0.2'},300);
        }); }); });
  </script>
</head>
<body>
  <!--Main Logo-->
  <div class="mainlogo" >
    <center>
      <a href="/">
    <img src="{% static 'img/logo.png' %}" style="max-width: 250px;"alt="AG" id = 'blabla'>
    </a>
    </center>
  </div>



      {% block xcontent %}
      {% endblock %}




  <!--Footer-->
  <footer>
    <div class="container">
      <!--Social icons-->
      <div style="float: right;">
        <img src="{% static 'img/facebook.png' %}" style='max-height:20px;' alt="fb">
        <img src="{% static 'img/mail.png' %}" style='max-height:20px;' alt="fb">
        <img src="{% static 'img/heart.png' %}" style='max-height:20px;' alt="fb">
        <img src="{% static 'img/bulb.png' %}" style='max-height:20px;' alt="fb">
      </div>
      <div style="float: left;">
        <p>AG architecture © 2017</p>
      </div>
    </div>
  </footer>


</body>
</html>
