{% extends "homecontacttemp.html" %}
{% load staticfiles %}

{% block headin %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" type = "text/css"/>
{% endblock %}
{% block menu%}
<div class="lang">
  <li class="dropdown-top">
    <a class="dropdown-top" >EN</a>
    <ul class="dropdown-inside">
    <li><a href="/ru/contact/">RU</a></li>
    <li><a href="/ua/contact/">UA</a></li>
    </ul>
  </li>
</div>
  <!--Menu-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-center">
          <li><a href="/en/architecture/">ARCHITECTURE</a></li>
          <li><a href="/en/design/">DESIGN</a></li>
          <li><a href="/en/services/">SERVICES</a></li>
          <li><a href="/en/contact/">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="col-sm-4 contactform">
    <h3>CONTACT ME</h3>
    <form id="form" method="post">
      {% csrf_token %}
      <input id="email" name="email" type="text" placeholder="E-MAIL">
      <input id="subject" name="subject" type="text" placeholder="SUBJECT">
      <textarea id="message" type="text" placeholder="MESSAGE"></textarea>

    <!--  {{ form }} -->
      <div class="form-actions">
        <input id="submit" type="submit" value="SEND">
      </div>





    </form>
  </div>
  <div class="col-sm-4 contact">
          <p>+380734725404</p>
          <p>agarchitecture13@gmail.com</p>
          <hr>
          <p> AG architecture - архитектурная мастерская, основанная 2016 года в Киеве, молодым архитектором – Андреем Глущенко.</p>
<p> Концептуальный подход мастерской AG architecture - простой, эргономичный, качественный и лаконичный дизайн, одновременно отличается высокой степенью комфорта и вниманием к деталям. Практические разработки мастерской включают также градостроительные проекты, проекты торговых и офисных центров, проекты жилых домов, ресторанов, квартир и тому подобное.
</p><p> В нашей мастерской большая часть работы над проектом уходит на продумывание функциональных деталей: привычки человека, комфортно ли ему будет пользоваться комплектующими, которые мы выбрали для его интерьера и т.д. В результате, заказчик видит, что выполненный интерьер индивидуален и создан специально для него, наслаждается комфортом каждый день и четко знает, за что заплатил деньги.
</p><p> Андрей Глущенко получил степень бакалавра архитектуры в Киевском национальном университете строительства и архитектуры (КНУСА) в 2016 году.
</p>
  </div>
  <div class="col-sm-4 contact">
         <img src="{% static 'img/face.png' %}" style='width:100%; height:auto;' alt="Adrey">
  </div>




{% endblock %}
