{% extends "homecontacttemp.html" %}
{% load staticfiles %}

{% block headin %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" type = "text/css"/>
{% endblock %}
{% block menu%}
  <!--Menu-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-center">
          <li><a href="/en/architecture/">ARCHITECTURE</a></li>
          <li><a href="/en/design/">DESIGN</a></li>
          <li><a href="/en/services/">SERVICES</a></li>
          <li><a href="/en/contact/">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>

{% endblock %}
