<html lang="en">
<head>
  <title>AG architecture</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  {% block headin %}
  {% endblock %}

  <!--Change opacity of mainlogo by moving mouse-->
  <script>
  $(document).ready(function(){
    $('.mainlogo').each(function(){
      $(this).animate({opacity:'0.3'},1);
      $(this).mouseover(function(){
        $(this).stop().animate({opacity:'1.0'},600);
      });
      $(this).mouseout(function(){
        $(this).stop().animate({opacity:'0.3'},300);
      }); }); });
  </script>

</head>


<body>
<div id="page-preloader"><span class="spinner"></span></div>
<div id="particles-js" style="position:fixed; width:100%; z-index:2;"></div>
  <!--Main Logo-->
  <div class="mainlogo" style="z-index:1;">
    <center>
      <a href="/">
    <img src="{% static 'img/logo.png' %}" style="max-width: 250px; z-index:3;"alt="AG" id = 'blabla'>
      </a>
    </center>
  </div>

  {% block menu %}
  {% endblock %}

  <!--Footer-->
  <footer>
    <div class="container">
      <!--Social icons-->
      <div style="float: right;">
        <img src="{% static 'img/facebook.png' %}" style='max-height:20px;' alt="fb">
        <img src="{% static 'img/mail.png' %}" style='max-height:20px;' alt="fb">
        <img src="{% static 'img/heart.png' %}" style='max-height:20px;' alt="fb">
        <img src="{% static 'img/bulb.png' %}" style='max-height:20px;' alt="fb">
      </div>
      <!--Footer`s info<div id="particles-js"></div>-->
      <div style="float: left;">
        <p>AG architecture © 2017</p>
      </div>
    </div>
  </footer>
  <script>
      $(window).on('load', function () {
        var $preloader = $('#page-preloader'),
            $spinner   = $preloader.find('.spinner');
        $spinner.fadeOut();
        $preloader.delay(350).fadeOut('slow');
    });
  </script>

</body>
