<html lang='en'>
<head>
  <title>AG</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/mainpage.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'css/slider_comp.css' %}" type = "text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://malsup.github.com/jquery.cycle.all.js"></script> 
</head>
<body>
  <!--Main Logo-->
  <div class="mainlogo" >
    <center>
    <img src="{% static 'img/logo.png' %}" style="max-width: 250px; "alt="AG" id = 'blabla'>
    </center>
  </div>
      {% block content %}
      {% endblock %}
  <!--Footer-->
  <footer>
    <div class="container">
      <!--Social icons-->
      <div style="float: right;">
        <img src="{% static 'img/facebook.png' %}" style='max-height:20px;' alt="fb">
        <img src="{% static 'img/mail.png' %}" style='max-height:20px;' alt="fb">
        <img src="{% static 'img/heart.png' %}" style='max-height:20px;' alt="fb">
        <img src="{% static 'img/bulb.png' %}" style='max-height:20px;' alt="fb">
      </div>

      <div style="float: left;">
        <p>AG architecture © 2017</p>
      </div>
    </div>
  </footer>
  <script>
  if(window.screen.width > 480) {
    $(function(){
        var scroller = $('#scroller div.innerScrollArea');
        var scrollerContent = scroller.children('ul');
        scrollerContent.children().clone().appendTo(scrollerContent);
        var curX = 0;
        scrollerContent.children().each(function(){
            var $this = $(this);
            $this.css('left', curX);
            curX += $this.outerWidth(true);
        });
        var fullW = curX / 2;
        var viewportW = scroller.width();

        // Scrolling speed management
        var controller = {curSpeed:0, fullSpeed:2};
        var $controller = $(controller);
        var tweenToNewSpeed = function(newSpeed, duration)
        {
            if (duration === undefined)
                duration = 600;
            $controller.stop(true).animate({curSpeed:newSpeed}, duration);
        };

        // Scrolling management; start the automatical scrolling
        var doScroll = function()
        {
            var curX = scroller.scrollLeft();
            var newX = curX + controller.curSpeed;
            if (newX > fullW*2 - viewportW)
                newX -= fullW;
            scroller.scrollLeft(newX);
        };
        setInterval(doScroll, 20);
        tweenToNewSpeed(controller.fullSpeed);
    });


    $(document).ready(function(){
      $('.mainlogo').each(function(){
        $(this).animate({opacity:'0'},1);
        $(this).mouseover(function(){
          $(this).stop().animate({opacity:'0.7'},600);
        });
        $(this).mouseout(function(){
          $(this).stop().animate({opacity:'0'},300);
        }); }); });
  }
  if(window.screen.width < 480) {
    var image_count = 5;
     var interval = 2000; //пауза
     var time_out = 15; //скорость смены картинки
     var i = 5;
     var timeout;
     var opacity = 100;
     function change_image() {
     opacity--;
     var j = i + 1;
     var current_image = 'img' + i;
     if (i == image_count) j = 1;
     var next_image = 'img' + j;
     document.getElementById(current_image).style.opacity=opacity/100;
     document.getElementById(current_image).style.filter='alpha(opacity='+opacity+')';
     document.getElementById(next_image).style.opacity= (100-opacity)/100;
     document.getElementById(next_image).style.filter=' alpha(opacity='+(100-opacity)+')';
     timeout = setTimeout("change_image()", time_out);
    if (opacity==1) {
     opacity = 100;
     clearTimeout(timeout);
    i++;
    if (i>image_count) i=1;
    timeout = setTimeout("change_image()", interval);
     }
     }
    change_image()
          }
    </script>

    {% block script %}
    {% endblock %}
</body>
</html>
