{% extends "servicestemp.html" %}
{% load staticfiles %}
{% block content %}

<!--Menu-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar" style="display: block;">
      <ul class="nav navbar-nav navbar-center">
        <li><a href="/en/architecture/">ARCHITECTURE</a></li>
        <li><a href="/en/design/">DESIGN</a></li>
        <li><a href="/en/services/">SERVICES</a></li>
        <li><a href="/en/contact/">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--Service PHOTO MOBILE-->
<div class='sphotomob'>
  <center>
  <div class="stextmob" id='archym' >
    <a href="#archx">
      <h2>architecture</h2>
      <img id='imga1' src="{% static 'img/headphoto/d1.jpg' %}" />
      </a>
  </div>
  <div class="stextmob" id='inym'><a href="#inx">
    <center><h2>interior design</h2></center>
      <img id='imga1' src="{% static 'img/headphoto/d1.jpg' %}" />
    </a>
  </div>
  <div class="stextmob" id='asym'><a href="#asx">
    <center><h2>architects supervision</h2></center>
      <img id='imga4' src="{% static 'img/headphoto/s4.jpg' %}" />
       </a>
  </div>
  <div class="stextmob" id='prym'><a href="#prx">
    <h2>product design</h2>
      <img id='imga4' src="{% static 'img/headphoto/p4.jpg' %}" />
       </a>
  </div>
</center>
</div>


<!--Service Photos-->
<div class='sphoto'>
  <center>
  <div class="stext" id='archy'><a href="#archx">
    <div class="slider"><div class="slider1">
      <img id='imga1' src="{% static 'img/headphoto/a1.jpg' %}" />
      <img id='imga2' src="{% static 'img/headphoto/a2.jpg' %}" />
      <img id='imga3' src="{% static 'img/headphoto/a3.jpg' %}" />
      <img id='imga4' src="{% static 'img/headphoto/a4.jpg' %}" />
    </div></div>
  <h2>architecture</h2>
  </a>
  </div>
  <div class="stext" id='iny'><a href="#inx">
    <div class="slider"><div class="slider2">
      <img id='imga1' src="{% static 'img/headphoto/d1.jpg' %}" />
      <img id='imga2' src="{% static 'img/headphoto/d2.jpg' %}" />
      <img id='imga3' src="{% static 'img/headphoto/d3.jpg' %}" />
      <img id='imga4' src="{% static 'img/headphoto/d4.jpg' %}" />
    </div></div>
  <h2>interior design</h2>
  </a>
  </div>
  <div class="stext" id='asy'><a href="#asx">
    <div class="slider"><div class="slider3">
      <img id='imga1' src="{% static 'img/headphoto/s1.jpg' %}" />
      <img id='imga2' src="{% static 'img/headphoto/s2.jpg' %}" />
      <img id='imga3' src="{% static 'img/headphoto/s3.jpg' %}" />
      <img id='imga4' src="{% static 'img/headphoto/s4.jpg' %}" />
    </div></div>
  <h2>architects supervision</h2>
  </a>
  </div>
  <div class="stext" id='pry'><a href="#prx">
    <div class="slider"><div class="slider4">
      <img id='imga1' src="{% static 'img/headphoto/p1.jpg' %}" />
      <img id='imga2' src="{% static 'img/headphoto/p2.jpg' %}" />
      <img id='imga3' src="{% static 'img/headphoto/p3.jpg' %}" />
      <img id='imga4' src="{% static 'img/headphoto/p4.jpg' %}" />
    </div></div>
  <h2>product design</h2>
  </a>
  </div>
</center>
</div>



{% endblock %}
