

@media screen and (min-width: 480px) {



  #scroller {
      position: relative;
      top:0;
      opacity: 0.45;
      z-index: 2;
      height: 40%;
  }
  #scroller .innerScrollArea {
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
  }
  #scroller ul {
      padding: 0;
      margin: 0;
      position: relative;
  }

  #scroller li {
      padding: 0;
      margin: 0;
      list-style-type: none;
      position: absolute;
  }

  .mainlogo {
    position: absolute;
    margin-top: 10%;
    width: 100%;
    opacity: 0.55;
    z-index:3;
  }
  .navbar {
  position: relative;
  top:0;
  }

  .sphoto {
    display:inline-block;
    position: relative;
    margin-top: 5%;

    background-color: transparent;
  }

  .stext {
    display:inline-block;
    position: relative;

    max-width: 600px;
  }

  .slider {
    position: relative;
    opacity: 0.6;
  }

  .sphoto img {
    min-height: 150px;
    max-width: 600px;
    opacity: 0.6;

  }

  .stext:hover {

    text-shadow: 2px 2px #000;
    filter: invert(100%);
    font-size: 46px;
}

.stext h2 {
  text-transform: uppercase;
  position: absolute;

  color: #fff;
  top:20%;
  left: 10%;
  font-size: 50px;
  z-index: 6;
}

#arch_title{cursor:pointer;}
#as_title{cursor: pointer;}
#indesign_title{cursor:pointer;}
#prdesign_title{cursor: pointer;}

.arch_content{display:none;}
.as_content{display:none;}
.indesign_content{display:none;}
.prdesign_content{display:none;}

}


@media (max-width: 480px) {

  #scroller {
      position: relative;
      opacity: 0.65;
      z-index: 2;
      height: 25%;
  }
  #scroller .innerScrollArea {
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
  }
  #scroller ul {
      padding: 0;
      margin: 0;
      position: relative;
  }
  #scroller li {
      padding: 0;
      margin: 0;
      list-style-type: none;
      position: absolute;
  }

  .mainlogo {
    opacity: 0;
    display: block;
  }

  .sphoto {
    display: none;
  }

  .navbar {
  position: relative;
  top:0;
  }

}
